{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}


 <!-- Three columns of text below the carousel -->
        <h3>Nos meilleures vente</h3>
        <p>Découvrez les articles les plus vendus</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Découvrez nos press on nail <span class="text-muted">Fabriquer sur demande lors de votre commande</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset ('assets/uploads/images/pexels-photo-7664093.jpeg') }}" class="img-fluid" alt="un savoir faire artisanale">            
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading mt-2">Découvrez Les prestations <span class="text-muted">Faite dans notre salon a Toulouse</span></h2>
                <p class="lead  ">Si vous souhaiter prendre rendez-vous vous devrez vous <a href="{{ path ('app_register')}}">inscrire</a>   
                    {% if app.user == false  %} ou vous connecté a votre <a href="{{ path ('app_login')}}">compte</a> {% endif %}
                    {% if app.user == true %} ou acceder a votre espace <a href="{{ path ('app_account')}}">Mon compte</a>{% endif %} 
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset ('assets/uploads/images/pexels-photo-361754.webp') }}" class="img-fluid" alt="un savoir faire artisanale">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->{% endblock %}
